.tag {
  font-size: 0.32rem;
  color: #666666;
  background: #F2F3F5;
  border-radius: 0.32rem;
  height: 0.64rem;
  line-height: .44rem;
  padding: .1rem .265rem;
  min-width: 1.2rem;
  text-align: center;
}

.tag.large {
  font-size: 0.32rem;
  line-height: .48rem;
  height: .8rem;
  border-radius: 0.4rem;
  padding: .16rem .32rem;
}