<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="referrer" content="no-referrer" />
    <link rel="icon" href="http://www.wenliaokeji.com/qfy-content/uploads/2018/12/b8a36a8bb3a087ae3e00f45fb36fdfc6.png" type="image/png">
    <title>问聊科技</title>
  </head>
  <body>
    <noscript>Sorry, we need js to run correctly!</noscript>
    <div id="root"></div>
  </body>
</html>
