* {
  box-sizing: border-box;
  font-family: "PingFangSC-Medium";
}

@font-face {
  font-family: "DINCond-Bold";
  src: url(./assets/dincond_bold.otf) format('OpenType')
}

html,
body,
#root {
  height: 100%;
  font-size: 36px;
  background: #f4f4f4;
}

body {
  margin: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
div {
  line-height: 12px;
}